<h1>Services4Less</h1>


<div class ="container">
  <div class="center-block">
    
    <h2><%= link_to 'create profile', new_profile_path %></h2>
    
    <h2><%= link_to 'services', services_path %></h2>
    
  </div>
  
</div>
